@model UpdateEmployeeVm 

 <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Employee form</h4>
                  <form class="forms-sample" method="post" enctype="multipart/form-data">
                      <div class="form-group">
                      <img style="width:150px;height:150px" src="~/assets/image/@Model.Image" />
                    </div>
                    <div class="form-group">
                      <label asp-for="Photo" for="exampleInputName1">Name</label>
                      <input asp-for="Photo" class="form-control">
                      <span class="text-danger" asp-validation-for="Photo"></span>
                    </div>
                    <div class="form-group">
                      <label asp-for="Name">Name</label>
                      <input asp-for="Name" type="text" class="form-control" placeholder="Name">
                      <span class="text-danger" asp-validation-for="Name"></span>
                    </div>
                     <div class="form-group">
                      <label asp-for="Description">Description</label>
                      <input asp-for="Description" type="text" class="form-control" placeholder="Description">
                      <span class="text-danger" asp-validation-for="Description"></span>
                    </div>          
                    <button type="submit" class="btn btn-primary me-2">Submit</button>
                    <button asp-action="index" asp-controller="employee" class="btn btn-light">Cancel</button>
                  </form>
                </div>
              </div>
            </div>